.search-container {
  background-color: #f8e9e9;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.table-container {
  margin-top: 20px;
}

.action-buttons .btn {
  margin-right: 5px;
}

.btn-delete {
  color: red;
}

.btn-edit {
  color: orange;
}

.btn-detail {
  color: blue;
}

.form-control {
  width: 40%;
}

.group-button {
  display: flex;
  justify-content: flex-end;
}

.group-button .btn {
  margin: 0 5px;
}

.table-container th,
.table-container td {
  text-align: center;
  align-content: center;
}
