<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Data Kendaraan</title>
    <link rel="stylesheet" th:href="@{/resources/css/kendaraan-form.css}">
</head>

<body>
    <div class="container">
        <h2>Tambah Data Kendaraan</h2>
        <form method="post" th:attr="action=@{/kendaraan/upsert}" th:object="${kendaraanDetail}">
            <div class="form-row">
                <div class="row">
                    <label for="reg-number">No. Registrasi Kendaraan</label>
                    <input type="text" id="reg-number" th:field="*{id}">
                </div>
                <div class="row">
                    <label for="year">Tahun Pembuatan</label>
                    <input type="text" id="year" th:field="*{productionYear}">
                </div>
            </div>
            <div class="form-row">
                <div class="row">
                    <label for="owner-name">Nama Pemilik</label>
                    <input type="text" id="owner-name" th:field="*{ownerName}">
                </div>
                <div class="row">
                    <label for="cylinder-capacity">Kapasitas Silinder</label>
                    <input type="text" id="cylinder-capacity" th:field="*{cylinderCapacity}">
                </div>
            </div>
            <div class="form-row">
                <div class="row">
                    <label for="brand">Merk Kendaraan</label>
                    <input type="text" id="brand" th:field="*{brand}">
                </div>
                <div class="row option">
                    <label for="color">Warna Kendaraan</label>
                    <select id="color" name="color">
                        <option value="" selected hidden disabled>No Specific Color</option>
                        <option
                                th:each="optColor:${listOptionColor}"
                                th:object="${optColor}"
                                th:name="color"
                                th:text="*{text}"
                                th:value="*{value}"
                                th:selected="*{selected}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="row">
                    <label for="owner-address">Alamat Pemilik Kendaraan</label>
                    <textarea id="owner-address" th:field="*{address}"></textarea>
                </div>
                <div class="row">
                    <label for="fuel-type">Bahan Bakar</label>
                    <input type="text" id="fuel-type" th:field="*{fuelType}">
                </div>
            </div>
            <div class="form-actions">
                <button type="submit">Simpan</button>
                <a th:href="@{/kendaraan/index}" type="button">Kembali</a>
            </div>
        </form>
    </div>
</body>

</html>